.loggable-exercise-input__wrapper {
  @apply duration-200 hover:bg-gray-100 px-3 pt-3 pb-4;
}

.loggable-exercise-input__wrapper:hover input {
  @apply bg-gray-100 duration-200;
}

.loggable-exercise-input__log-wrapper {
  @apply pl-8 pt-4 duration-200;
}

.loggable-exercise-input__indicator {
  @apply text-xs font-body font-semibold
    text-gray-500 italic relative -top-3 left-2;
}

@keyframes log-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loggable-exercise-input__log-item {
  animation: log-fade-in 400ms;
}

.loggable-exercise-input__log {
  @apply flex items-center py-2 px-2 w-max duration-100 rounded
    hover:bg-gray-200;
}

.loggable-exercise-input__log:hover .log-input__input {
  @apply bg-gray-200 duration-100;
}

.loggable-exercise-input__remove-log {
  @apply h-7 w-7 p-1 ml-8 rounded duration-200 opacity-0 border-transparent border-2
  hover:text-red-400 hover:border-red-400 hover:bg-gray-100 group-hover:opacity-100 cursor-pointer;
}

.loggable-exercise-input__button-group {
  @apply flex;
}

.loggable-exercise-input__button {
  @apply duration-200 opacity-0;
}

.loggable-exercise-input__wrapper:hover .loggable-exercise-input__button,
.loggable-exercise-input__wrapper
  .log-input__input:focus
  .loggable-exercise-input__button {
  @apply opacity-100;
}

.loggable-exercise-input__log-button svg {
  transform: scale(1.5) rotate(45deg);
  @apply ml-0.5;
}

.loggable-exercise-input__save-button {
  @apply ml-2;
}

.loggable-exercise-input__save-button svg {
  transform: scale(1.5);
  @apply ml-0.5;
}
