.template-card__wrapper {
  border-left-style: solid;
  border-left-width: 4px;
  @apply bg-gray-100 p-4 rounded flex flex-col w-full max-w-xs
    relative duration-200;
}

.template-card__wrapper:hover {
  border-left-width: 8px;
}

.template-card__settings.button {
  @apply border-transparent p-0.5 self-end absolute top-2 right-2;
}

.template-card__settings.button svg {
  @apply h-5 w-5;
}

.template-card__settings .button__icon-wrapper {
  @apply mr-0;
}

.template-card__name {
  @apply font-display tracking-widest font-bold text-xl flex items-center;
}

.id {
  @apply w-2 h-2 rounded-full ml-2 border-4 border-red-400;
}

.template-settings__wrapper svg {
  transform: scale(1.5);
  @apply ml-1;
}

.template-card__data-wrapper {
  @apply font-body text-xs;
}

.template-card__data {
  @apply font-display text-sm font-bold tracking-widest
    inline-block ml-2;
}

.template-settings__wrapper {
  @apply right-2 top-2 left-auto;
}
