.log-input__wrapper {
  @apply flex flex-col;
}

.log-input__upper-wrapper {
  @apply flex items-center;
}

.log-input__set-id {
  @apply font-display text-lg font-black mr-2 tracking-wider;
}

.log-input__review {
  @apply duration-200 py-1 pl-1 pr-1 rounded flex items-center
    hover:bg-gray-200 hover:pr-2 cursor-pointer relative;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.log-input__edit-review {
  animation-name: fade-in;
  animation-duration: 200ms;
  @apply absolute z-10 top-0 left-0;
}

.log-input__review-value {
  @apply text-xs font-body font-bold ml-2 duration-200 opacity-0
    group-hover:opacity-100;
}

.log-input__label {
  @apply font-body text-sm;
}

.log-input__input {
  @apply text-base font-display font-bold
  text-right text-lg tracking-wider duration-200
  focus:outline-none;
}

.log-input__input[type='number'] {
  -moz-appearance: textfield;
}

.log-input__input::-webkit-outer-spin-button,
.log-input__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.log-input__weight-input-label {
  @apply ml-4;
}

.log-input__weight-metric {
  @apply font-display text-base ml-1 font-black;
}
