.exercise-input {
  $bg--active: #eee;

  &__wrapper {
    transition-duration: 200ms;
    @apply pl-6;

    &.active {
      background-color: $bg--active;
    }
  }

  &__upper-wrapper {
    @apply flex items-center;
  }
  
  &__bullet {
    transition-duration: 200ms;
    border-radius: 100%;
    @apply w-2 h-2 bg-gray-400;
    
    &.active {
      @extend .exercise_input__bullet !optional;
      @apply bg-gray-600;
    }
  }

  &__input {
    transition-duration: 200ms;
    &::placeholder {
      @apply text-gray-400;
    }

    &:focus {
      outline: none;
      background-color: $bg--active;
    }

    @apply ml-3 font-bold;
  }

  &__lower-wrapper {
    @apply flex items-center mt-2 ml-5;
  }

  &__ranged-separator {
    @apply mx-4;
  }
}