.workout-page {
  &__wrapper {
    @apply px-4;
  }

  &__input {
    @apply font-display text-5xl font-extrabold w-full
      focus:outline-none overflow-hidden tracking-wider
      dark:bg-gray-800;

    &-label { 
      @apply w-full relative pt-4 pb-0 block overflow-hidden;
    }
    &-placeholder {
      @apply font-display text-5xl font-extrabold absolute duration-200 text-gray-400 cursor-text;
      &.active {
        @apply -top-1 text-sm text-gray-600 dark:text-gray-300;
      }
    } 
  }

  &__exercises {
    @apply duration-200;

    &-list {
      @apply mt-2;
    }    

    &-heading {
      @apply flex items-center;
    }
  }
  
  &__text {
    @apply text-sm font-body tracking-wider font-bold;
  }
  
  &__placeholder {
    @apply font-medium text-sm;
  }
 
  &__template-id {
    @apply flex  items-center mb-2;

    &-placeholder {
      @apply ml-6 relative;
    }
  }

  &__date {
    @apply pb-3;

    &-placeholder {
      @apply ml-24;
    }
  }

  &__color {
    @apply pb-3 flex items-center;

    &-placeholder {
      @apply ml-20 flex justify-center items-center p-1 rounded duration-200 hover:bg-gray-200 cursor-pointer relative
        dark:hover:bg-gray-700;
    }

    &-id {
      @apply h-3 w-3 inline-block rounded-full focus:outline-none;
    }

    &-picker {
      @apply absolute z-10 top-1 left-0;
    }
  }

  &__button-group {
    @apply flex flex-row-reverse pt-5;
  }

  &__save-log-button {
    @apply mr-2;
  }
  
  &__comparator-select {
    @apply absolute z-20 w-96 top-0;
  }
  

  &__compare {
    &-btn.button {
      transform: translateX(0.2rem);
      @apply py-0 border-transparent ml-10;

      &:hover .workout-page__remove-comparison.button {
        @apply opacity-100;
      }
    }
  }

  &__remove-comparison.button {
    @apply ml-2 p-0 opacity-0 hover:border-red-400 hover:text-red-400;

    & .button__icon-wrapper {
      @apply mr-0;
    }

    & svg {
      transform: scale(1.2);
    }
  }
}

.template {
  &-id {
    @apply py-0.5 px-2 duration-200 rounded
    cursor-pointer hover:bg-gray-200 focus:outline-none
    dark:hover:bg-gray-700;
  }
  &-maker {
    @apply absolute z-10 top-0 left-0;
  }
}

// .color-picker__wrapper,
// .comparator-select__wrapper {
//   @apply text-sm font-body tracking-wider font-bold bg-gray-100 px-4 py-3 rounded
//   border-2 border-gray-200 shadow-lg a
//   dark:bg-gray-700 dark:border-gray-800;
// }

.color-picker {
  &__colors-wrapper {
    @apply flex mt-2;
  }

  &__heading {
    @apply whitespace-nowrap;
  }
  &__color-id {
    @apply h-4 w-4 rounded-full block ml-2 first:ml-0 cursor-pointer focus:outline-none;
  }
  &__workouts-wrapper {
    @apply pt-1;
  }
}

.comparator-select {
  &__wrapper {
    @apply max-h-48 overflow-y-scroll;
  }

  &__heading {
    @apply text-left;
  }

  &__workout {
    @apply flex font-body font-medium items-center justify-between py-0.5 duration-200 w-full
      hover:bg-gray-200 px-1 rounded
      dark:hover:bg-gray-700;
  }
  
}