.ranged-input {
  &__wrapper {
    transition-duration: 200ms;
    @apply flex flex-col items-center;
  }

  &__input-group {
    transition-duration: 200ms;
    @apply flex;
  }

  &__input {
    transition-duration: 200ms;
    overflow: hidden;
    @apply text-base text-center font-bold;
    &-separator {
    }

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    text-transform:lowercase;
    font-variant: small-caps;
    transition-duration: 200ms;
    
    @apply text-sm font-bold;
  }
}